core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
go-live.sh
pyvenv.cfg
my-script1.sh
my-script2.sh
lib/
bin/
*.sqlite3
*.pyc
.venv/
vars.py
